.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.mainHeader {
  text-align: center;
  text-transform: uppercase;
  padding: 25px;
}

.mainLogo {
  padding: 25px;
  width: 256px;
  height: 192px;
}

.mainInvite {
  width: 200px;
  border: none;
  background: rgb(52, 235, 128);
  font-size: 24px;
}


.mainInvite:hover {
  background: rgb(59, 255, 140);
}

